<li>
  <%= question.body %><br>
   <%= link_to t('helpers.actions.show'), admin_question_path(question) %> |
   <%= link_to t('helpers.actions.edit'), edit_admin_question_path(question) %> |
   <%= link_to t('helpers.actions.delete'),
   	admin_question_path(question),
   	method: :delete,
   	data: { confirm: 'Are you sure?' } %>
</li> 